.index{
    background: black;
    min-height: 100rem;
    padding-top: 20rem;
    align-items: center;
}

.index h1{
    font-size: 15rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #fa4747, #ff5252);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.index h3{
    color: rgb(255, 255, 255);
    text-align: center;
}

.index a{
    color: white;
    padding: 0.5rem 0.5rem;
}
.index a:hover{
    color: white;
}
.footer{
    background: rgb(175, 175, 175);
}

.footer p{
    font-size: 0.5rem;
}
#mainNav {
    background-color: rgba(128, 204, 255, 0.65);
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: white;
    border: 1px solid white;
}

#mainNav .navbar-toggler:focus {
    outline: none;
    color: white;
}

#mainNav .navbar-toggler:hover {
    outline: none;
    color: rgb(192, 192, 192);;
}

#mainNav .navbar-brand {
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

#mainNav .navbar-brand:hover {
    color: rgb(192, 192, 192);;
}

#mainNav .nav-link {
    font-size: 12px;
    color: white;
}

#mainNav .nav-link:hover {
    font-size: 12px;
    color: rgb(192, 192, 192);;
}

#mainNav .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item {
    padding: 0 2rem;
}


#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

.HB{
    background: white;
    min-height: 100rem;
    padding-top: 20rem;
    align-items: center;
}

.HB h1{
    font-size: 15rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #47c1fa, #a4f85f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.VideoSection{
    background-color: rgb(235, 235, 235);
}

.VideoSection h1{
    padding: 3rem 0rem;
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #397efd, #c226ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.movie{
    width: 1100px;
    height: 650px;
    padding-bottom: 2rem;
}


.whatsnext{
    background-color: black;
}

.whatsnext h1{
    padding: 3rem 0rem;
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #d639fd, #ff2626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px)  {
    .index{
        background: black;
        min-height: 35rem;
        padding-top: 10rem;
        align-items: center;
    }
    .index h1{
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #fa4747, #ff5252);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: rgba(128, 204, 255, 0.699);
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: 1rem 0;
        color: white;
        justify-content: center;
        text-align: center;
    }

    #mainNav .navbar-brand:hover {
        padding: .5rem 0;
        color: rgb(192, 192, 192);
    }

    #mainNav .nav-link {
        transition: none;
        padding: 1.5rem 1.5rem;
        font-size: 12px;
        color: white;
    }

    #mainNav .nav-link:hover {
        color: rgb(192, 192, 192);
    }

    #mainNav .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink {
        background-color:rgba(128, 204, 255, 0.699);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: white
    }

    #mainNav.navbar-shrink .navbar-brand:hover {
        color: rgb(192, 192, 192);
    }

    #mainNav.navbar-shrink .nav-link {
        color: white;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: rgb(192, 192, 192);
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: white;
        outline: none;
    }

    .HB{
        background: white;
        min-height: 40rem;
        padding-top: 10rem;
        align-items: center;
    }
    .HB h1{
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #47c1fa, #a4f85f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .VideoSection h1{
        padding: 1.5rem 0rem;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #397efd, #cd5ff8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .movie{
        width: 350px;
        height: 250px;
        padding-bottom: 2rem;
    }

    .whatsnext h1{
        padding: 1.5rem 0rem;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #d639fd, #ff2626);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
