.index{
    background: black;
    min-height: 35rem;
}
.index h1{
    font-size: 15rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.index h3{
    color: rgb(255, 255, 255);
    text-align: center;
}

.index a{
    color: white;
}
.index a:hover{
    color: white;
}
.footer{
    background: rgb(175, 175, 175);
}

.footer p{
    font-size: 0.3rem;
}


@media (max-width: 1000px)  {
    .index{
        background: black;
        min-height: 20rem;
    }
    .index h1{
        font-size: 5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
    }
}