.index{
    background: black;
    min-height: 80rem;
    padding-top: 10rem;
    align-items: center;
}

.index h1{
    font-size: 15rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #fa4747, #ff5252);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.index h3{
    color: rgb(255, 255, 255);
    text-align: center;
}

.index a{
    color: white;
    padding: 0.5rem 0.5rem;
}
.index a:hover{
    color: white;
}
.footer{
    background: rgb(175, 175, 175);
    font-size: 0.6rem;
    padding: 1rem 0rem;
}

.backpresentpage{
    padding: 1rem 0rem;
    text-align: center;
    justify-content: center;
    background-color: rgb(192, 192, 192);
}

#mainNav {
    background-color: rgba(128, 204, 255, 0.65);
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: white;
    border: 1px solid white;
}

#mainNav .navbar-toggler:focus {
    outline: none;
    color: white;
}

#mainNav .navbar-toggler:hover {
    outline: none;
    color: rgb(192, 192, 192);;
}

#mainNav .navbar-brand {
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

#mainNav .navbar-brand:hover {
    color: rgb(192, 192, 192);;
}

#mainNav .nav-link {
    font-size: 12px;
    color: white;
}

#mainNav .nav-link:hover {
    font-size: 12px;
    color: rgb(192, 192, 192);;
}

#mainNav .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item {
    padding: 0 2rem;
}


#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

.HB{
    background:url(./Diseño\ sin\ título.png);
    min-height: 175rem;
    padding-top: 30rem;
    align-items: center;
    background-size: 100%;
}

.HB h1{
    font-size: 15rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #47c1fa, #a4f85f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.VideoSection{
    background-color: rgb(235, 235, 235);
}

.VideoSection h1{
    padding: 3rem 0rem;
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #397efd, #c226ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.movie{
    width: 1100px;
    height: 650px;
    padding-bottom: 2rem;
}


.whatsnext{
    background-color: black;
}

.whatsnext h1{
    padding: 3rem 0rem;
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #d639fd, #ff2626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whatsnext p{
color: white;
}

.Present{
    background: url(../pexels-anete-lusina-6331083.jpg);
    min-height: 60rem;
    padding-top: 10rem;
    align-items: center;
    background-size: cover;
}

.Present h1{
    padding: 1.5rem 0rem;
    font-size: 15rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.f1starter{
    background: url(../Eq9ed9qW4AIVESq.jpg);
    min-height: 60rem;
    padding-top: 10rem;
    align-items: center;
    background-size: cover;
}

.f1starter h1{
    padding: 1.5rem 0rem;
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: red;
    text-align: center;
}

.f1starter .f1logo{
    width: 40rem;
}

.PresentOne{
    background-color:rgb(235, 235, 235);
}

.PresentOne h1{
    padding: 7rem 0rem;
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #d639fd, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Present4{
    background-color:rgb(235, 235, 235);
}

.Present4 h1{
    padding: 7rem 0rem;
    font-size: 10rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #fd3939, #ff7878);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inPresent{
    background-color:rgb(235, 235, 235);
    padding: 7rem 0rem;
}

.inPresent h1{
    font-size: 20rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #d639fd, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inPresent4page{
    background-color:rgb(235, 235, 235);
    padding: 7rem 0rem;
}

.inPresent4page h1{
    font-size: 12rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #d639fd, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inPresent h4{
    font-size: 1rem;
    background: linear-gradient(to right, #d639fd, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inPresent a{
    font-size: 0.8rem;
}

.inPresent4{
    background-color:rgb(235, 235, 235);
    padding: 7rem 0rem;
}

.inPresent4 h1{
    font-size: 20rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #fd3939, #ff7878);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inPresent4 h4{
    font-size: 1rem;
    background: linear-gradient(to right, #fd3939, #ff7878);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inPresent4 a{
    font-size: 0.8rem;
}

.present1{
    background-color: black;
    padding: 10rem 0rem;
}

.present1 h1{
    font-size: 12rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: rgb(241, 212, 173);
    text-align: center;
}

.present2{
    background-color: black;
    padding: 10rem 0rem;
}

.present2 h1{
    font-size: 12rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: White;
    text-align: center;
}

.present3{
    background-color: black;
    padding: 10rem 0rem;
}

.present3 h1{
    font-size: 12rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: gold;
    text-align: center;
}

.photos{
    width: 28.5rem;
    height: 43rem;
}

.presentf1{
    background: linear-gradient(to right, #fd3939, #ff7878);
    padding: 10rem 1rem;
}

.presentf1 h1{
    font-size: 12rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: White;
    text-align: center;
}
@media (max-width: 1000px)  {
    .index{
        background: black;
        min-height: 35rem;
        padding-top: 10rem;
        align-items: center;
    }
    .index h1{
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #fa4747, #ff5252);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: rgba(128, 204, 255, 0.699);
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: 1rem 0;
        color: white;
        justify-content: center;
        text-align: center;
    }

    #mainNav .navbar-brand:hover {
        padding: .5rem 0;
        color: rgb(192, 192, 192);
    }

    #mainNav .nav-link {
        transition: none;
        padding: 1.5rem 1.5rem;
        font-size: 12px;
        color: white;
    }

    #mainNav .nav-link:hover {
        color: rgb(192, 192, 192);
    }

    #mainNav .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink {
        background-color:rgba(128, 204, 255, 0.699);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: white
    }

    #mainNav.navbar-shrink .navbar-brand:hover {
        color: rgb(192, 192, 192);
    }

    #mainNav.navbar-shrink .nav-link {
        color: white;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: rgb(192, 192, 192);
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: white;
        outline: none;
    }

    .HB{
        background:url(./Diseño\ sin\ título.png);
        min-height: 40rem;
        padding-top: 15rem;
        align-items: center;
        background-size: cover;
    }
    .HB h1{
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #47c1fa, #a4f85f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .VideoSection h1{
        padding: 1.5rem 0rem;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #397efd, #cd5ff8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .movie{
        width: 350px;
        height: 250px;
        padding-bottom: 2rem;
    }

    .whatsnext h1{
        padding: 1.5rem 0rem;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #d639fd, #ff2626);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .whatsnext p{
        color: white;
    }

    .Present{
        background: url(../pexels-anete-lusina-6331083.jpg);
        min-height: 40rem;
        padding-top: 10rem;
        align-items: center;
        background-size: cover;
    }

    .Present h1{
        padding: 1.5rem 0rem;
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    .PresentOne{
        background-color:rgb(235, 235, 235);
    }
    
    .PresentOne h1{
        padding: 4rem 0rem;
        font-size: 10rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #d639fd, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .inPresent{
        background-color:rgb(235, 235, 235);
        padding: 11rem 0rem;
    }
    
    .inPresent h1{
        font-size: 14rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #d639fd, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .inPresent4page{
        background-color:rgb(235, 235, 235);
        padding: 11rem 0rem;
    }
    
    .inPresent4page h1{
        font-size: 6rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #d639fd, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .inPresent h4{
        font-size: 1rem;
        background: linear-gradient(to right, #d639fd, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .inPresent a{
        font-size: 0.8rem;
    }


    .f1starter{
        background-image: url(../Eq9ed9qW4AIVESq.jpg);
        min-height: 40rem;
        padding-top: 10rem;
        align-items: center;
        background-size:33%;
    }

    .f1starter h1{
        padding: 1.5rem 0rem;
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: red;
        text-align: center;
    }

    .f1starter .f1logo{
        width: 12.5rem;
    }

    .Present4{
        background-color:rgb(235, 235, 235);
    }
    
    .Present4 h1{
        padding: 4rem 0rem;
        font-size: 10rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #fd3939, #ff7878);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .inPresent4{
        background-color:rgb(235, 235, 235);
        padding: 11rem 0rem;
    }
    
    .inPresent4 h1{
        font-size: 14rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: white;
        text-align: center;
        background: linear-gradient(to right, #fd3939, #ff7878);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .inPresent4 h4{
        font-size: 1rem;
        background: linear-gradient(to right, #fd3939, #ff7878);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .inPresent a{
        font-size: 0.8rem;
    }
    
    .present1{
        background-color: black;
        padding: 10rem 1rem;
    }
    
    .present1 h1{
        font-size: 6rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: rgb(241, 212, 173);
        text-align: center;
    }

    .present2{
        background-color: black;
        padding: 10rem 1rem;
    }
    
    .present2 h1{
        font-size: 6rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: White;
        text-align: center;
    }

    .present3{
        background-color: black;
        padding: 15rem 1rem;
    }
    
    .present3 h1{
        font-size: 4rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: gold;
        text-align: center;
    }

    .photos{
        width: 22rem;
        height: 30rem;
    }
    .presentf1{
        background: linear-gradient(to right, #fd3939, #ff7878);
        padding: 10rem 1rem;
    }
    
    .presentf1 h1{
        font-size: 4rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        color: White;
        text-align: center;
    }
}
